$default: #8d8d8d;
$accent:#fe3e57;
$title:#29282d;
$bg:#f6f6f6;

%quicksand-400{
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%btn{
  background-color: $accent;
  text-transform: uppercase;
  color: #fff;
  @extend %roboto-400;
  padding: 12px 24px;
  box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
}